* {
  padding   : 0;
  margin    : 0;
  list-style: none;
  box-sizing: border-box;
}

html {
  height     : 100vh;
  width      : 100vw;
  overflow-x : hidden;
  font-family: 'Montserrat', sans-serif;
}

body {
  overflow-x: hidden;
}

h2 {
  font-weight  : 700;
  margin-bottom: 20px;
  font-size    : 3rem;
}

nav {
  position        : fixed;
  display         : flex;
  top             : 0;
  left            : 0;
  width           : 100vw;
  height          : 60px;
  background-color: #ed4852;
  z-index         : 999;

  @media(min-width: 768px) {
    display: none;
  }
}

.burger {
  all             : unset;
  display         : flex;
  align-items     : center;
  border          : none;
  background-color: transparent;
  justify-content : center;
  padding         : 0;
  margin          : 0;
  position        : absolute;
  top             : 0;
  left            : 0;
  width           : 60px;
  height          : 60px;
  cursor          : pointer;
}

.burger__btn {
  width           : 30px;
  height          : 3px;
  background-color: #fff;
  position        : absolute;
  border-radius   : 100px;
  transition      : all .5s ease;

  &::before,
  &::after {
    border-radius   : 100px;
    content         : "";
    width           : 30px;
    height          : 3px;
    position        : absolute;
    background-color: #fff;
    transition      : all .5s ease;
  }

  &::before {
    top: -8px;
  }

  &::after {
    top: 8px;
  }

  &.open {
    transform: rotate(45deg);

    &::before,
    &::after {
      top      : 0;
      transform: rotate(90deg);
    }
  }

}

// ! first block
.welcome {

  @media(min-width: 768px) {
    display: grid;
    grid-template:
      [row-1-start] "menu jumbo"100vh [row-1-end] / 40% 60%;
  }
}

.welcome__menu {
  width           : 100vw;
  left            : -100vw;
  position        : fixed;
  top             : 60px;
  bottom          : 0;
  height          : calc(100vh - 59px);
  z-index         : 5;
  background-color: #fff;
  transition      : left .5s ease;
  padding         : 0 30px;
  overflow        : hidden;
  display         : flex;
  flex-wrap       : wrap;
  flex-direction  : column;


  &.open {
    overflow: hidden;
    left    : 0;
  }

  @media(min-width: 768px) {
    padding-top: 50px;
    width      : unset;
    height     : unset;
    left       : unset;
    top        : unset;
    grid-area  : menu;
    position   : relative;
  }


  .menu {
    transition   : all 1s linear;
    margin-bottom: 30px;

    &:last-of-type {
      margin-bottom: 70px;
    }

    .menu__title {
      text-decoration: none;
      margin-bottom  : 10px;
      text-transform : uppercase;
      color          : #9c1b24;
      width          : fit-content;
      font-weight    : 700;
      cursor         : pointer;
      font-size      : 1.3rem;
    }

    .links {
      width           : 3px;
      height          : 80%;
      background-color: red;
      display         : flex;
      flex-direction  : row;

      li {
        padding-left: 10px;

        a {
          width          : fit-content;
          color          : #333;
          font-size      : 1.2rem;
          text-decoration: none;
          display        : block;
          transition     : color .3s ease-in-out;

          &:hover {
            color: red;
          }
        }

      }
    }
  }

  .logo {
    padding        : 20px 0 40px;
    display        : flex;
    justify-content: center;

    img {
      max-width: 200px;
    }
  }

  .bottom {

    text-align     : center;
    align-items    : center;
    justify-content: center;
    display        : flex;
    flex-direction : column-reverse;



    @media(min-width: 900px) {
      flex-direction: row;
      align-items   : center;
    }
  }

  .social-icons {
    display: flex;

    a {
      display        : flex;
      justify-content: center;
      align-items    : center;
      background     : #002a32;
      font-size      : .9rem;
      border-radius  : 50%;
      text-decoration: none;
      color          : #fff;
      height         : 30px;
      width          : 30px;
      margin         : 0 5px;
    }
  }

  .location {
    align-self: center;

    @media(min-width: 900px) {
      margin-right: 30px;
    }

    .adress {
      color      : #002a32;
      line-height: 1.3rem;
    }

    .phone-number {
      a {
        font-size      : 1.6rem;
        font-weight    : 700;
        text-decoration: none;
        color          : #9c1b24;
      }
    }
  }
}


.welcome__jumbo {
  width           : 100%;
  background-color: #ed4852;
  background-image: radial-gradient(ellipse at center, #ed4852 0%, #9c1b24 100%);
  height          : calc(100vh - 60px);
  transition      : all .5s linear;
  margin-top      : 60px;

  @media(min-width: 768px) {
    margin         : unset;
    width          : unset;
    height         : 100vh;
    grid-area      : jumbo;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
  }

  .container {
    flex           : 1;
    position       : relative;
    display        : flex;
    justify-content: center;
    height         : 100vh;

    @media(min-width: 768px) {}
  }

  .tick {
    position       : absolute;
    display        : flex;
    align-items    : center;
    justify-content: center;
    right          : 5px;
    top            : 100px;
    border-radius  : 5px;

    @media(min-width: 768px) {
      top       : 120px;
      margin-top: unset;
    }

    .body {
      background-color: #002a32;
      display         : flex;
      align-items     : center;
      justify-content : center;
      padding-right   : 15px;

      .bar {
        margin-left     : 8px;
        border-radius   : 100px;
        width           : 3px;
        height          : 35px;
        display         : block;
        background-color: #ffca3a;
      }

      .status {
        display      : inline-block;
        padding      : 10px;
        font-size    : 1.3rem;
        font-weight  : 700;
        border-radius: 5px;
        color        : #fff;
      }
    }

    .square {
      display                : flex;
      align-items            : center;
      justify-content        : center;
      margin-left            : -16px;
      background-color       : #002a32;
      border-top-right-radius: .5em;
      transform              : rotate(45deg);
      width                  : 31px;
      height                 : 32px;


      .circle {
        width           : 12px;
        height          : 12px;
        border-radius   : 50%;
        background-color: #fff;
      }
    }
  }

  .burger-of-the-day__title {
    font-size  : 2.5rem;
    font-weight: 700;
    text-align : center;
    color      : #fff;
    padding-top: 150px;

    @media(min-width: 768px) {
      padding-top: 180px;
    }
  }

  .burger-of-the-day__image {
    display        : block;
    margin         : auto auto 0;
    justify-self   : center;
    justify-content: center;
    position       : absolute;
    animation      : bounce 1s linear infinite alternate;
    width          : 90%;
    max-width      : 400px;
    bottom         : 60px;


    @media(min-width: 900px) {
      max-width: 450px;
    }
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(-50px);
  }
}


.information {
  background-color: #000;
  display         : flex;
  position        : relative;
  flex-direction  : column;

  @media(min-width: 768px) {
    background-color     : #efefef;
    display              : grid;
    justify-content      : center;
    align-items          : center;
    grid-template-columns: 40% 60%;
    grid-template-rows   : 100vh;

  }

  .restaurant-image {
    overflow: hidden;
    height  : 100%;
    width   : 100%;

    img {
      height    : 100vh;
      width     : 100vw;
      object-fit: cover;

      @media(min-width: 768px) {
        height    : 100%;
        width     : 100%;
        object-fit: cover;
      }
    }
  }



  .info {
    display       : flex;
    align-items   : center;
    flex-direction: column;
    height        : 100vh;
    width         : 100vw;
    margin        : -100vh 0 0 0;


    @media(min-width: 768px) {
      margin     : 0;
      padding    : 20px;
      width      : unset;
      align-items: unset;
      position   : relative;
      height     : unset;
    }

    h2 {
      position        : absolute;
      width           : 250px;
      font-size       : 2.5rem;
      font-weight     : bold;
      bottom          : 250px;
      margin-bottom   : 20px;
      background-image: radial-gradient(ellipse at center, #002a3220, #ffffff00);
      color           : #fff;
      border-radius   : 5px;
      text-align      : right;
      padding-right   : 20px;
      opacity         : 0;
      transition      : all 1s ease;

      span {
        position      : relative;
        text-transform: uppercase;
        z-index       : 1;

        &:before {
          content         : "";
          bottom          : 0;
          position        : absolute;
          width           : 90%;
          height          : 15px;
          background-color: #ed4852;
          z-index         : -1;
        }
      }

      @media(min-width:768px) {
        position        : relative;
        bottom          : unset;
        text-align      : left;
        opacity         : 1;
        width           : unset;
        padding         : 20px;
        margin          : unset;
        background-image: none;
        color           : #333;
        left            : 0;
      }
    }

    .paragraphs {
      position        : absolute;
      display         : flex;
      flex-direction  : column;
      bottom          : 140px;
      opacity         : 0;
      color           : #fff;
      font-weight     : bold;
      background-image: radial-gradient(ellipse at center, #002a3220, #ffffff00);
      border-radius   : 5px;
      transition      : all 1s ease;
      font-size       : 1.3rem;
      width           : 70vw;

      @media(min-width: 768px) {
        left            : 0;
        width           : unset;
        position        : relative;
        opacity         : 1;
        bottom          : unset;
        line-height     : 1.7;
        background-image: none;
        margin          : 20px;
        color           : #333;
      }
    }

    .about-link {
      position       : absolute;
      text-decoration: none;
      color          : #000;
      font-weight    : 700;
      font-size      : 1.8rem;
      display        : flex;
      justify-content: center;
      align-items    : center;
      width          : 60px;
      height         : 60px;
      bottom         : 0;
      margin         : 0 auto;
      animation      : bounce .5s ease-out infinite alternate;

      @media(min-width: 768px) {
        position  : relative;
        margin-top: 100px;
      }

      .circle-right {
        height          : 40px;
        width           : 40px;
        border-radius   : 50%;
        background-color: #ed4852;
        transition      : all 1s ease;

        .fas {
          margin   : 10px 11px;
          color    : #fff;
          font-size: 1.3rem;
        }
      }
    }
  }

}


.food-preview {
  background-color: #efefef;
  color           : #333;
  width           : 100vw;
  display         : flex;
  flex-direction  : column;
  align-items     : center;
  justify-content : center;
  height          : 70vh;
  text-align      : center;

  a {
    text-decoration: none;
  }

  .button-rounded {
    padding         : 10px 21px;
    border-radius   : 20px;
    color           : #fff;
    font-weight     : bold;
    background-color: #ed4852;
  }
}

.food-menu {
  width           : 100vw;
  display         : flex;
  flex-direction  : row;
  justify-content : center;
  align-items     : center;
  flex-wrap       : wrap;
  position        : relative;
  background-color: #efefef;
  overflow        : hidden;
  padding-bottom  : 100px;

  @media(min-width: 768px) {
    width                : 100vw;
    display              : grid;
    grid-template-rows   : 300px;
    grid-template-columns: 1fr 1fr;
  }

  @media(min-width: 900px) {

    grid-template-columns: 44% 44%;
  }

  @media(min-width: 1200px) {
    grid-template-rows   : repeat(auto, 300px);
    grid-template-columns: 1fr 1fr 1fr;

  }
}

.food {
  margin  : 0;
  position: relative;
  color   : #fff;
  width   : 400px;
  height  : 250px;
  cursor  : pointer;


  @media(min-width: 480px) {
    margin       : 20px;
    border-radius: 5px;

    * {
      border-radius: 5px !important;
    }
  }

  .food__title {
    margin       : 0;
    padding      : 5px 10px;
    position     : absolute;
    bottom       : 10%;
    left         : 10%;
    border-radius: 5px;
    z-index      : 1;
    overflow     : hidden;

    h2 {
      font-size: 1.6rem;
      margin   : 0;
    }
  }

  .food__image {
    position: relative;
    height  : 100%;
    width   : 100%;
    overflow: hidden;

    img {
      position  : relative;
      overflow  : hidden;
      width     : 100%;
      filter    : brightness(70%);
      transition: all .5s linear;
    }

    &.drink {
      img {
        object-position: center -100px;
      }
    }

  }


  &:hover {
    .food__title {
      background-color: #9c1b24;
    }

    img {
      transform: scale(1.2);
      filter   : brightness(100%);
    }
  }
}



.footer {
  display         : flex;
  max-height      : fit;
  padding         : 60px;
  width           : 100vw;
  background-color: #9c1b24;

  @media(min-width: 768px) {
    height: 180px;
  }

  ul {
    width         : 100vw;
    color         : #fff;
    display       : flex;
    flex-direction: column;

    @media(min-width: 768px) {
      text-align    : center;
      flex-direction: row;
    }

    li {
      font-size  : 1.2rem;
      font-weight: bold;
      flex       : 1;
      padding    : 10px 0;

      @media(min-width: 768px) {
        padding: 0;
      }
    }
  }
}